name: Releases
on:
  push:
    tags:
      - v*

env:
  PUSH: 'true'
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  releases:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"